{% extends 'base.html.twig' %}

{% block title %}Hello From Contact!{% endblock %}

{% block body %}
    
    <br><br><br>
    <hr>
        <h1 align="center">
            Welcome to Contact page !
        </h1>
{% endblock %}
